{% extends "layout.html" %}

{% block title %}
home -
{% endblock %}


{% block body_content %}
<h5>What is null beach?</h5>
<p>
    null beach is a consultancy committed to supercharging your team's development practices. We pledge to
    give your firm the tools to confidently develop, test, and deploy embedded systems at a pace that rivals
    our pure software counterparts. We want to bring embedded development into modern
    times with cutting-edge tooling, fearless testing, reproducible builds, configurable environments, containerized
    dependencies, and more.
</p>

<h5>Who am I?</h5>
<p>I'm an embedded software engineer that's worked at companies like Apple, Hewlett Packard Enterprise, and Sonos.
    I've worked on everything from bare-metal microcontrollers for low-power home security applications, to RTOS-based
    power monitoring on an ARM SoC
    (Apple Silicon), to userspace embedded Linux applications (Sonos audio distribution). No matter where I worked,
    I was universally disappointed by the state of embedded developer experience. A lack of cohesion around fast
    and easy testing, reproducible builds, and modern tooling is a giant anchor on the domain as a whole. I want to
    lift that anchor.


</p>

{% endblock %}
