{% extends "layout.html" %}

{% block title %}
home -
{% endblock %}


{% block body_content %}
<h5>What is embx?</h5>
<p>
    embx is a consultancy committed to supercharging your team's development practices. We pledge to
    give your firm the tools to confidently develop, test, and deploy embedded systems at a pace that rivals
    our pure software counterparts.
</p>

<h5>Who am I?</h5>
<p>I'm an embedded software engineer that's worked at companies like Apple, Hewlett Packard Enterprise, and Sonos.
    I've worked on everything from bare-metal microcontrollers for low-power home security applications, to RTOS-based
    power monitoring on an ARM SoC
    (Apple Silicon), to userspace embedded Linux applications (Sonos audio distribution). I love C and
    Rust, but my current day job requires I use the sprawling mess that is C++. I'm also a big fan of Python for hacking
    together quick automation scripts.

    I consider myself a web hobbyist, and I built this blog entirely with Rust and Tera.

    I love the challenges and complexity of embedded systems, but despise all the antiquated processes that make the software development lifecycle very slow
    in comparison to our web/mobile/SaaS counterparts. I want to bring embedded development into modern
    times with cutting-edge tooling, fearless testing, reproducible builds, configurable environments, containerized dependencies, and more.

</p>

{% endblock %}
