<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML Meta Tags -->
    <meta name="description" content="exploring modern embedded DX">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://kainosdx.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="kainos">
    <meta property="og:description" content="exploring modern embedded DX">
    <meta property="og:image" content="https://kainosdx.com/assets/palmtree.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="kainosdx.com">
    <meta property="twitter:url" content="https://kainosdx.com">
    <meta name="twitter:title" content="kainos">
    <meta name="twitter:description" content="exploring modern embedded DX">
    <meta name="twitter:image" content="https://kainosdx.com/assets/palmtree.jpg">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <link rel="stylesheet" href="/static/styles.css">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <h1>welcome to kainos</h1>
    </header>
    <main>
        <nav>
            <a href="/">home</a>
            <a href="/blog">blog</a>
            <a href="/contact">contact</a>
        </nav>
        <section>
            <h4>exploring a modern embedded development experience</h4>
            {% block body_content %}{% endblock %}
        </section>
    </main>
    <footer>
        <p>
            copyright 2024, Michael Gomez
        </p>
    </footer>
</body>

</html>
