<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" />
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <h1>embx</h1>
    </header>
    <main>
        <nav>
            <a href="/">home</a>
            <a href="/blog">blog</a>
            <a href="">contact</a>
        </nav>
        <section>
            <h4>exploring a modern embedded development experience</h4>
            {% block body_content %}{% endblock %}
        </section>
    </main>
    <footer>
        <p>
            copyright 2024, Michael Gomez
        </p>
    </footer>
</body>

</html>
