<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="exploring modern embedded DX">

    <meta property="og:url" content="https://nullbeach.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="null beach">
    <meta property="og:description" content="exploring modern embedded DX">
    <meta property="og:image" content="https://nullbeach.com/assets/palmtree.jpg">

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
        integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <h1>welcome to null beach</h1>
    </header>
    <main>
        <nav>
            <a href="/">home</a>
            <a href="/blog">blog</a>
            <a href="/contact">contact</a>
        </nav>
        <section>
            <h4>exploring a modern embedded development experience</h4>
            {% block body_content %}{% endblock %}
        </section>
    </main>
    <footer>
        <p><b>
                copyright 2024, Michael Gomez
            </b>
        </p>
    </footer>
</body>

</html>
